{% extends 'base.html' %}

{% block title_head %}
    Acerca de mí
{% endblock title_head %}

{% block h1_header %}
    Acerca de mí
{% endblock h1_header %}

{% block contenido %}
    <div class="container">
        <h2>Bienvenidos al apartado 'Acerca de mí'!</h2>

        <p>Me llamo Nicolás Mazzotta. Vivo en Buenos Aires, Zona Sur, más específicamente en Banfield.</p>

        <p>Empecé estudiando programación en la UBA, cursando la carrera de Ingeniería Informática. Comencé con el lenguaje C mientras rendía Algoritmos 1 y 2 en la facultad. Finalizando Algoritmos 2, vimos un poco de Python y me interesó por la variedad de cosas que se pueden hacer y también por la facilidad de su sintaxis. La transición de Python a C no me pareció muy difícil, además me ayudó a recordar muchas cosas.</p>

        <p>Cabe destacar que cuando estaba terminando la pandemia, empecé a trabajar como camarero en Palermo y debido a los horarios, tuve que abandonar la carrera momentáneamente. Después de casi 2 años, volví a empezar a programar con este curso de CoderHouse.</p>

        <p>El curso me encantó. Realizar el tercer TP y esta entrega final me costaron bastante, pero la verdad es que los disfruté mucho. Podía estar 5-6 horas seguidas y no me daba cuenta del tiempo, ¡me pasaba volando!</p>

        <p>Definitivamente, este curso me ayudó a darme cuenta de que realmente quiero seguir estudiando programación y dedicarme a esto. Me interesa muchísimo el manejo de datos, la ciberseguridad y las bases de datos.</p>

        <p>Dejo por aquí el enlace al video demostrativo: <a href="https://www.youtube.com/watch?v=3hh6dob7QvE">Video Demostrativo</a>.</p>
    
    </div>
{% endblock contenido %}