{% extends 'base.html' %}

{% block title_head %}
Comprador
{% endblock title_head %}

{% block h1_header %}
Bienvenido comprador!
{% endblock h1_header %}

{% block botones_extras %}
<h4>
    <a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:comprador/crear' %}>Registrar</a>
</h4>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
    </div>
<h4>   
    <a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:comprador/acceder' %}>Acceder</a>
</h4>
{% endblock botones_extras %}

{% block contenido %}
{% endblock contenido %}
