{% extends 'base.html' %}

{% block title_head %}
objetos
{% endblock title_head %}

{% block h1_header %}
Bienvenido al apartado de objetos
{% endblock h1_header %}

{% block botones_extras %}
<h4>
    <li class="nav-item btn btn-primary"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:objetos_vendedor' %}>Vender objetos</a></li>
</h4>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
    </div>
<h4>
    <li class="nav-item btn btn-primary"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:objetos_comprador' %}>Comprar objetos</a></li>
</h4>
{% endblock botones_extras %}

{% block contenido %}
{% endblock contenido %}