{% extends 'base.html' %}

{% block title_head %}
objetos_comprador
{% endblock title_head %}

{% block h1_header %}
Bienvenido al menu de objetos para comprar
{% endblock h1_header %}

{% block botones_extras %}

<h4>     
<li<a class="nav-item btn btn-primary"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:objetos_historial_comprados' %}>Historial Objetos comprados</a></li>
</h4>
{% endblock botones_extras %}

{% block contenido %}
{{ mensaje }}<br><br>

Objetos disponibles para comprar:
<form action = {% url 'inicio:objetos_comprador' %} method= "get" enctype='multipart/form-data'>
    <table>
        {{formulario}}
        {{formulario.media}}
    </table>
    <button>Buscar</button>
</form>

{% if objetos %}
    {% for objeto in objetos %}
        <li>
            {% if objeto.imagen %}
                <img src= {{objeto.imagen.url}} alt="" height='50px'>
            {% endif %}
            {{ objeto}}<br>
            <button><a class="navbar-brand" href={% url 'inicio:objeto_mostrar' objeto.id %}>Mostrar detalles</a> </button>
            <button><a class="navbar-brand" href={% url 'inicio:objeto_confirmar_compra' objeto.id %}>Comprar!</a> </button><br><br>
        </li>
    {% endfor %}
{% else %}
    <p>
        No se encontraron objetos con ese nombre
    </p>
{% endif %}
{% endblock contenido %}