{% extends 'base.html' %}

{% block title_head %}
Comprador_Creado {{vendedor.Nombre_usuario}}
{% endblock title_head %}

{% block h1_header %}
bienvenido {{vendedor.Nombre_usuario}}
{% endblock h1_header %}

{% block contenido %}
Tus datos son los siguientes:<br>
Nombre: {{vendedor.Nombre_usuario}}<br>
Email: {{vendedor.Email}}<br>
Direccion de entregas: {{vendedor.Direccion_tienda}}<br>

{% if vendedor.Objetos_comprados.count > 0 %}
Objetos vendidos: {% for objeto in vendedor.Objetos_vendidos.all %}
<li>{{ objeto.Nombre }} - {{ objeto.tipo }} - {{ objeto.descripcion }}</li>
{% endfor %}
<br>
{% else %}
No se registra objetos vendidos<br>
{% endif %}


<form action="{% url 'inicio:objeto_crear' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button>
        <a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:objeto_crear' %}>Agregar Objeto vendido</a>
    </button>
</form>

{% endblock contenido %} 
